html {
	font-family: monospace;
}

body {
	padding: 0 1em;
	transition: all 0.2s;
}

body.darkmode {
	background-color: #334;
	color: #ccc;

	--correct-color: #474;
	--wrong-color: #944;
	--almost-color: #994;
	--ques-bg-color: #445;

	--theme-bt-bg: #ccc;
	--theme-bt-border: #aaa;
	--theme-bt-color: black;
}

body:not(.darkmode) {
	--correct-color: #aca;
	--wrong-color: #faa;
	--almost-color: #ffa;
	--ques-bg-color: #eee;

	--theme-bt-bg: #556;
	--theme-bt-border: #222;
	--theme-bt-color: white;
}

h1 {
	display: inline-block;
	margin-right: 1em;
}

#button_theme {
	display: inline-block;
	padding: 0.5em 1em;
	transition: all 0.2s;
	text-align: center;
	cursor: pointer;

	font-weight: 600;

	background-color: var(--theme-bt-bg);
	border: 2px solid var(--theme-bt-border);
	color: var(--theme-bt-color);
}

#button_theme:hover {
	background-color: #889;
	border: 2px solid #555;
}

.questions {
	padding: 0;
}

.questions li {
	list-style-type: none;

	padding: 1.25em;
	outline: 1px solid #000;
	background-color: var(--ques-bg-color);

	margin-bottom: 1px;
	transition: background 0.2s;
}

.ques_index {
	font-weight: 1000;
	font-size: 1.2em;
}


.questions .correct {
	background-color: var(--correct-color);
}

.questions .wrong {
	background-color: var(--wrong-color);
}
.questions .ques_close {
	background-color: var(--almost-color);
}

.questions h4 {
	margin: 0 0 1em 0;
}
.questions img {
	height: 200px;
}

.questions input {
	margin: 0;
}
.questions label {
	margin: 0 1em 0 0;
}

#result {
	font-weight: 800;
}


#submit {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.16, rgb(207, 207, 207)), color-stop(0.79, rgb(252, 252, 252)));
	background-image: -moz-linear-gradient(center bottom, rgb(207, 207, 207) 16%, rgb(252, 252, 252) 79%);
	background-image: linear-gradient(to top, rgb(207, 207, 207) 16%, rgb(252, 252, 252) 79%); 
	padding: 3px;
	border: 1px solid #000;
	color: black;
	text-decoration: none;
}